/****** Script for SelectTopNRows command from SSMS  ******/
insert [DYNAMICS].[dbo].[SY01500]

SELECT [LSTUSRED]
      ,[CREATDDT]
      ,[MODIFDT]
      ,[CMPANYID]
      ,[CMPNYNAM]
      ,[TAXEXMT1]
      ,[TAXEXMT2]
      ,[TAXREGTN]
      ,[COPTXSCH]
      ,[COSTXSCH]
      ,[LOCATNNM]
      ,[ADRCNTCT]
      ,[ADDRESS1]
      ,[ADDRESS2]
      ,[ADDRESS3]
      ,[CITY]
      ,[COUNTY]
      ,[STATE]
      ,[ZIPCODE]
      ,[PHONE1]
      ,[PHONE2]
      ,[PHONE3]
      ,[FAXNUMBR]
      ,[USESCRTY]
      ,[UDCOSTR1]
      ,[UDCOSTR2]
      ,[CMPCNTRY]
      ,[NOTEINDX]
      ,[PPSFRNUM]
      ,[PPSTAXRT]
      ,[PPSVNDID]
      ,[VATMODE]
      ,[LOCATNID]
      ,[INTERID]
      ,[ACSEGSEP]
      ,[SECOPTS]
      ,[DisplayRegisteredPalette]
      ,[Company_Options]
      ,[Vets100CompanyNumber]
      ,[TYPEOFBUSINESS]
      ,[DUNS_Number]
      ,[SICNUMBER]
      ,[GOVCRPID]
      ,[BRNCHNMBR]
      ,[DFLTTXDTLID]
      ,[PurchasesTaxDetailID]
      ,[CCode]
      ,[IVTRFDOCFMT]
      ,[Offline_User]
      ,[WORKFLOWENABLED]
      ,[CrmCredentialsMethod]
      ,[CrmOrganizationName]
      ,[CrmServiceUrl]
      
  FROM [DYNAMICS].[dbo].[SY01500_backup]
  where interid in('GISPT','GIELM','GIEUR')