USE [TPSPT];
GO

SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER OFF;
GO
Create PROCEDURE _FixBrokenOrder
AS
SET NOCOUNT ON;
DECLARE
   @culpritname varchar (30) ;
delete from SY00500 where BACHNUMB = @culpritname

DELETE SOP10200 where SOPNUMBE in (SELECT SOPNUMBE from SOP10100 where BACHNUMB = @culpritname)
DELETE SOP10200 where SOPNUMBE in (SELECT SOPNUMBE from SOP10100 where BACHNUMB = ' ') 
DELETE SOP10102 where SOPNUMBE in (SELECT SOPNUMBE from SOP10100 where BACHNUMB = @culpritname) 
DELETE SOP10102 where SOPNUMBE in (SELECT SOPNUMBE from SOP10100 where BACHNUMB = ' ')
DELETE SOP10100 where BACHNUMB = '' 
DELETE SOP10100 where BACHNUMB = @culpritname