/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [USERID]
      ,[USERNAME]
      ,[USRCLASS]
   
      ,[MODIFDT]
      ,[CREATDDT]
     
   
  FROM [DYNAMICS].[dbo].[SY01400]